*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background:#f5f5f5;
    color:#333;
}

header {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    max-width: 1000px;
    margin: 30px auto;
}

/* HEADER */

header h1{
    background:#1f4f78;
    color:#fff;
    text-align:center;
    padding:20px;
    font-size:1.4rem;
}

nav{
    background:#333;
    color: #fff;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:space-evenly;
}

nav a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px;
}

nav a:hover{
    background:#1f4f78;
}

/* MAIN */

/* MAIN */

main h2{
    text-align:center;
    margin:30px 0;
    font-size:2.3rem;
    font-weight:400;
}

.cards{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
}

.card{
    background:#fff;
    border:1px solid #ccc;
    border-radius:10px;
    overflow:hidden;
}

.card h2{
    background:#1f4f78;
    color:white;
    text-align:center;
    padding:12px;
    font-size:2rem;
    min-height:70px;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* SOBRE MIM */

.about{
    display:grid;
    grid-template-columns:2fr 180px;
    gap:20px;
    padding:20px;
    align-items:start;
}

.about img{
    width:180px;
    border-radius:5px;
}

.about p{
    line-height:1.7;
}

/* LOCALIZAÇÃO */

.location{
    padding:20px;
}

.location h3{
    text-align:center;
    font-size:1.4rem;
    margin-bottom:20px;
    padding-bottom:8px;
    border-bottom:1px solid #ccc;
}

.location-info{
    display:grid;
    grid-template-columns:170px 1fr;
    gap:20px;
    align-items:center;
}

.location-info img{
    width:150px;
}

.location-info figure{
    text-align:center;
}

.location-info figcaption{
    font-size:.85rem;
    margin-top:8px;
    font-style:italic;
}

.location-info p{
    line-height:1.7;
}

/* RECURSOS */

.resources{
    padding:30px;
}

.resources ul{
    padding-left:20px;
}

.resources li{
    margin:15px 0;
}

.resources a{
    color:#0b57d0;
}

.resources a:hover{
    text-decoration:underline;
}

/* FOOTER */

footer {
    max-width: 1000px;
    margin: 30px auto 0;
    background:#1f4f78;
    color:white;
    text-align:center;
    padding:20px;
}

#ultimaModificacao{
    color:yellow;
    margin-top:10px;
}