@media screen and (min-width: 768px) {

    #menu {
        display: none;
    }

    .hamburger {
        display: flex !important;
        flex-direction: row;
        gap: 2rem;
    }

    .album {
        grid-template-columns: repeat(3, 1fr);
    }
}